.button{
    button{
        border: none;
        outline: none;
        background: linear-gradient(100deg, #ee0979, #ff6a00);
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
        padding: 5px 15px;
        margin-right: 4px;
    }
}


