.inputbutton{
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: lightgrey;
        border-radius: 30px;
        margin-bottom: 20px;
    }
}


